.h1 {
    color: #000000;
    font-size: 10px;
    font-family: 'nanum brush script';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.headerBar {
    width: 100%;
    height: 75px;
    display: block;
    background-color: rgb(241, 227, 207);
}

.container {
    display: grid;
    grid-area: photo;
    grid-template-columns: auto auto auto;
    align-content: stretch;
    width: 99%;
    height: 1000px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.grid-item {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}
