.h1 {
    color: #000000;
    font-size: 10px;
    font-family: 'Xanh Mono';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.headerBar {
    margin-top: 10px;
    width: 100%;
    height: 75px;
    display: inline-block;
    background-color: rgb(241, 227, 207);
}

.homePage {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project {
    position: relative;
    width: 35vh;
    height: 35vh;
}

.circles {
    width: 35vh;
    height: 35vh;
    border-radius: 24.5vh;
    margin-top: 25vh;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overLay {
    width: 35vh;
    height: 35vh;
    border-radius: 24.5vh;
    margin-top: 25vh;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project:hover .circles {
    opacity: 0.3;
}
  
.project:hover .overLay {
    opacity: 1;
}
  
.text {
    background-color: #000000;
    font-family: 'Xanh Mono';
    color: white;
    font-size: 16px;
    position: absolute;
    display: inline-block;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
}
