body {
    background-image: url(background.png);
}

h1 {
    background-color: rgb(95, 15, 116);
}

h2 {
    background-color: rgb(247, 149, 70);
}

main {
    background-color: white;
    padding: 40px;
}

button {
    padding: 40px;
}

button:hover{
    background-color: rgb(243, 190, 45);
}