body {
    background-image: https://github.com/sofiaBasil/sofiaBasil.git.io/blob/master/Homework3/background.png(“/background.png”);
}

h2 {
    background-color: green;
}

main {
    background-color: blue;
}

button {
    padding: 40px;
}

button:hover{
    background-color: yellow;
}