html {
    background-color: #1D701E73;
    margin: 20px;
  }

.doors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#header {
    padding: 3px;
    margin-left: 2%;
    margin-top: 15px;
    color: #FFFFFF;
    text-align: center;
}

#england {
    height: 50vh;
    width: 50vh;
}

#france {
    height: 50vh;
    width: 50vh;
}

#italy {
    height: 50vh;
    width: 50vh;
}

#nj {
    height: 50vh;
    width: 50vh;
}

#israel {
    height: 50vh;
    width: 50vh;
}

#germany {
    height: 50vh;
    width: 50vh;
}

.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    margin-left: 2%;
    margin-top: 15px;
    color: #FFFFFF;
    text-align: center;
  }

