html {
    background-image: url("background.jpg");
    background-color: #FFFFFF;
    height: 500px;
    background-position: center;
    background-size: min(cover, 5000%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}

/* Applies to everything */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Styles the header bar */
.headerBar {
    width: 100%;
    height: 133px;
    display: block;
    background-color: red;
}

.titleBox {
    width: 200px;
    height: 95%;
    display: block;
    margin: 0 auto;
    float: left;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

/* Styles the title */
.title {
    height: 100%;
    display: table;
    float: left;
}

.title h1{
    color: rgb(57, 129, 223);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Bangers';
    font-size: 60px;
}

.title h1 span{
    color: red;
}

/* Styles the menu items */
.menu {
    display: flex;
    align-content: center;
    justify-content: space-between;
    justify-content: space-around;
    height: 100%;
}

.menu a{
    height: 100%;
    display: table;
    float: center;
    padding: 0px 20px;
}

.menu a li{
    display: table-cell;
    vertical-align: middle;
    height: 80%;
    color: white;
    font-family: 'Bangers';
    font-size: 40px;
}

/* Chages the color of the page the user is on */
.active {
    background-color: #2c67e6;
  }


/* Styles the missing photo on the home page */
#missing {
    float: left;
    width: 300px;
    height: 460px;
    margin-left: 2px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 50px;
    padding: 0px 5px;
}

/* Styles the photos for each level on the home page */
.levels {
    float: right;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 50px;
    padding: 0px 50px;
}

/* Styles the photos on the home page */
.homePage {
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    color: #2c67e6;
    font-family: 'Bangers';
    font-size: 18px;
}

#waldoSearch {
    width: 99%;
    height: 1000px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#hint {
    display: flex;
    align-content: center; 
}

.grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20% 20% 20%;
  }